* {
  margin: 0;
  padding: 0;
}
  
body {
  background-color: #212121;
  color: #fafafa;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 100%;
  overflow: hidden;
}
  
/* Style the tab */
.tab {
  display: inline-flex;
  overflow: hidden;
  border-bottom: 1px solid #585858;
  width: 100%;
  justify-content: space-between;
}
  
/* Style the buttons that are used to open the tab content */
.tab button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  color: #ccc;
  transition: all 0.3s;
  width: 100%;
  text-align: center;
}
  
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
  
/* Create an active tablink class */
.tab button.active {
  background-color: rgba(0, 0, 0, 0.5);
}
  
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 25px;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.sorting-details {
  display: none;
  padding: 25px;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.sorting-details {
  display: none;
  padding: 25px;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.sorting-tab {
  position: absolute;
  display: none;
  padding: 25px;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
  height: 80%;
  width: auto;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
}

.sorting-tab img {
  width: 50%;
  height: auto;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
  
[data-tab-content] {
  display: none;
}
  
.active[data-tab-content] {
  display: block;
}

/* Sorting vsualizer */
.sorting-visualizer-container {
  position: absolute;
  width: 100%;
  height: 90%;
  top: 10%;
  left: 0;
}

.sorting-visualizer-container__bar {
  height: 82%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end; 
}

.sorting-bar {
  width: 4vw;
  margin: 0 1px;
  background-color: orange;
  overflow: hidden;
  text-align: center; 
}

.sorting-bar--change-flex {
  align-items: flex-start;
}

.sorting-visualizer-container__controller {
  padding: .5rem 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 15%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: .5rem;
  background-color: #585858;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  width: 6rem;
  background-color: #212121;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  background: orange;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: orange;
  cursor: pointer;
}

.controller-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.label {
  margin-top: 0.6rem;
  font-size: 0.7rem;
  letter-spacing: 1px;
}

.btn {
  cursor: pointer;
  height: 2.2rem;
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 2px;
  background-color: #212121;
  box-shadow: 0 0, 5rem rgba(0, 0, 0, 0.2);
  color: #fafafa;
  outline: none;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  letter-spacing: 1px;
  font-size: 0.6rem;
  backface-visibility: hidden;
  transition: all 0.3s;
}

.btn:hover {
  transform: translateY(-3px);
}

.start-sorting-btn {
  width: 8rem;
  letter-spacing: 2px;
  position: relative;
  justify-content: center;
}

.sorting-option-btn {
  width: 8rem;
  letter-spacing: 2px;
  position: relative;
  justify-content: center;
}

.btn:active {
  box-shadow: none;
  transform: scale(0.9);
}

.my-toast {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translate(-50% , -10rem);
  background-color: #9b59b6;
  padding: 1rem 2rem;
  border-radius: 2px;
  font-size: .8rem;
}

.my-toast-ans-active {
  animation: my-toast-animation 3s cubic-bezier(0.19, 1, 0.22, 1);
}

@-webkit-keyframes my-toast-animation {
    0%, 100% {
      transform: translate(-50% , -10rem);
      opacity: 0;
    }

    20% {
      transform: translate(-50% , 0rem);
      opacity: 1;
    }

    30% {
      transform: translate(-50% , 0rem);
      opacity: 1;
    }

    40% {
      transform: translate(-50% , 0rem);
      opacity: 1;
    }

    60% {
      transform: translate(-50% , 0rem);
      opacity: 1;
    }
}
